<p>

  <strong>Commenter:</strong>

  <%= comment.commenter %>

</p>

 

<p>

  <strong>Comment:</strong>

  <%= comment.body %>

  

</p>


<p>
<strong>Total Comment Likes:</strong> 
<%= comment.like.to_i %>

<%#= link_to "LIKE THIS" , [comment.article, comment], method: :like  %>
<%#= link_to "LIKE THIS" , like_article_comment_path(  comment )  %>
<%#= link_to "Like me", { controller: "comments", action: "like", id: comment.id } %>
<%= link_to 'LIKE', like_article_comment_path(@article, comment) %>


<%#= @article.comment.like %>
<%#= link_to 'Like this comment', like_article_comment_path(@article)  %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'}%>
</p>
